<!doctype html>
<html ng-app="todoApp">
  <head>
    <meta charset="utf-8">
 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script><!-- load angular -->

    <script src="app.js"></script>
    <title>MEANTodo</title>
    <link rel="stylesheet" href="app.css">
  </head>
  <body ng-controller="mainController">
    <div>
      <h2>Todo List</h2>
      <span>{{ todos.length }}</span>
      <div ng-repeat="todo in todos">
        <label>
          <input type="checkbox" ng-checked="todo.completed" ng-click="completeTodo(todo)"> {{ todo.text }}
        </label>
      </div>
      <form>
        <input type="text" placeholder="TODO!" ng-model="formData.text">
        <button type="submit" ng-click="createTodo()">Add</button>
      </form>
      
    </div>
  </body>
</html>